@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg: #e5e5e5;
  --bg: linear-gradient(-45deg, #162c35 70%, #0c252f 100%)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(-45deg, #162c35 70%, #0c252f 100%)
  }
}

body {
  color: var(--fg);
  background: var(--bg)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}