@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #010507;
  --fg: #d3d3d3;
  --bg: linear-gradient(-45deg, #159fd8 70%, #000 100%)
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(-45deg, #162c35 70%, #0c252f 100%)
  }
}

body {
  color: var(--fg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}